/* General */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(232, 232, 232);
 }


 /* Header */

header{
    height: 80px;
    padding: 10px 25px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 25px;
}

#logo{
    height: 60px;
    vertical-align: middle;
}

#logo_text{
    font-size: 30px;
    font-weight: 800;
    vertical-align: middle;
}


/* Main */

.container{
    width: 1100px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
}

.button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.button_blue{
    background-color: rgb(48, 48, 239);
    color: rgb(255, 255, 255);

}

.button_white{
    border: 1px solid rgb(128, 128, 128);
    background-color: transparent;
    color: rgb(128, 128, 128);

}

.top{
    height: 70px;
    padding: 20px 50px;
    border-bottom: 1px solid rgb(128, 128, 128);
}