/* General */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(246, 248, 249);
 }


 /* Header */

header{
    height: 80px;
    padding: 10px 25px;
    background-color: rgb(255, 255, 255);
}

#logo{
    height: 60px;
    vertical-align: middle;
}

#logo_text{
    font-size: 30px;
    font-weight: 800;
    vertical-align: middle;
}


/* Main */